<html>
  <head></head>

  <body>
    <p> <%= message %> </p>
    <p> The SECRET NUMBER is <%= number  %> </p>
    <p> You have <%= guesses%> guesses left </p>
  </body>

  <form>
    <input type='text' name='guess' />
    <input type='submit' value='Guess!' />
  </form>
</html>
